.connect {
  position: absolute;
  height: 600px;
  width: 800px;
  background-color: gray;
  padding: 0.5%;
  border: 3px solid black;
   z-index: 2;

}

.leaders {
  position: absolute;
  height: 600px;
  width: 800px;
  background-color: green;
  padding: 0.5%;
  border: 3px solid black;
  z-index: 1;
}


