body{
  background-color: #333333;
  padding-top: 40px;
}

.menuGame {

}

.connect {
  background-image: url(../images/gui/menu_background.png);
  height: 400px;
  width: 500px;
  margin: auto;
  color: yellow;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.leaders {
  height: 400px;
  width: 500px;
  background-color: green;
}



