<html>
  <head>
    <title>Astroids</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/asteroids.css">

  </head>
  <body>



    <center>
    <div id='menuGame' class= 'menuGame'>
          <div id='connect' class='connect'>
            <br>
            <img src="public/images/gui/logo.png">
            <br>
            <br>
            <br>
            <br>
            <form id='logIn'>
              <h3>Please Sign In:</h3>
              <input id='userName' type='text' placeholder='User Name' />
              <input id='password' type='text' placeholder='Password' />
              <button id='logInBtn'>Log In</button>
            </form>

            <form id='signIn'>
              <h3>New User:</h3>
              <input id='newName' type='text' placeholder='User Name' />
              <input id='newPassword' type='text' placeholder='Password' />
              <button id='signInBtn' />Sign In</button>
              <br>
              <br>
            </form>
          <button id='leadersBtn'>Leader Board</button>
          <button id='playBtn'>Just Play!</button>
          <div id="leaders" class="leaders">
          </div>


          </div>

          <div id='gameDiv'>
          </div>


    </div>


  </body>

    <script src="public/javascripts/phaser.min.js"></script>
    <script src="public/javascripts/game.js"></script>
    <script src="public/javascripts/asteriods.js"></script>
    <script src="public/javascripts/players.js"></script>
    <script src="public/javascripts/bullets.js"></script>
    <script src="public/javascripts/items.js"></script>
    <script src="public/javascripts/socket.io.js"></script>
    <script src="public/javascripts/jquery.js"></script>
    <script src="public/javascripts/serverCalls.js"></script>
    <script src="public/javascripts/signin.js"></script>

</html>
