<html>
  <head>
    <title>Astroids</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/asteroids.css">

  </head>
  <body>




    <div id='menuGame' class= 'menuGame'>
        <div id='connect' class='connect'>

          <form id='logIn'>
            <h3>Please Sign In:</h3>
            <input id='userName' type='text' placeholder='User Name' />
            <input id='password' type='text' placeholder='Password' />
            <input type= 'submit' id='logInBtn' />
          </form>

          <form id='signIn'>
            <h3>New User:</h3>
            <input id='newName' type='text' placeholder='User Name' />
            <input id='newPassword' type='text' placeholder='Password' />
            <input type= 'submit' id='signInBtn' />
            <br>
            <br>
            <button id='leadersBtn'>Leader Board</button>
          </form>

        </div>


      <div id="leaders" class="leaders">
      </div>

      <div id='gameDiv'>
      </div>

    </div>


  </body>
    <script src="public/javascripts/phaser.min.js"></script>
    <script src="public/javascripts/game.js"></script>
    <script src="public/javascripts/asteriods.js"></script>
    <script src="public/javascripts/players.js"></script>
    <script src="public/javascripts/bullets.js"></script>
    <script src="public/javascripts/items.js"></script>
    <script src="public/javascripts/socket.io.js"></script>
    <script src="public/javascripts/jquery.js"></script>
    <script src="public/javascripts/serverCalls.js"></script>
    <script src="public/javascripts/signin.js"></script>
</html>
