<html>
  <head>
    <title>WebPong</title>
    <meta charset="UTF-8" />

  </head>
  <body>
  </body>
    <script src="public/javascripts/phaser.min.js"></script>
    <script src="public/javascripts/game.js"></script>
    <script src="public/javascripts/asteriods.js"></script>
    <script src="public/javascripts/players.js"></script>
    <script src="public/javascripts/bullets.js"></script>
    <script src="public/javascripts/socket.io.js"></script>
    <script src="public/javascripts/jquery.js"></script>
    <script src="public/javascripts/serverCalls.js"></script>
</html>
